@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.header{
   background-color:  #1f2937;
  padding:10px;
}
.header > ul {
    list-style-type: none;
    font-family: Roboto, sans-serif;
    color:white; 
    margin:0;
    display:flex;
    gap:30px;
    align-items: center;
    margin-right: 200px;
}
.header > ul > li:first-of-type{
font-size:24px;
margin-right:auto
}
.header > ul > li > a{
    color:white;
    text-decoration: none;

}
.main-text{
    display:flex;
    padding:50px;
    background-color: 1f2937;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    
}
.main-text >.main-left{
    margin:0;
}
.main-text >.main-left > h1{
    
    font-size:48px;
}

.main-text >.main-left > p,h1{
    color:white;
    margin:10px;
}
.main-text >.main-left > button{
    background-color: #3b82f6;
    color:white;
    border:0;
    border-radius: 5px;
    padding:5px;
    margin-left:5px;
}
.img-place{
background-color: #e5e7eb;
height:300px;
width: 500px;
display:flex;
align-items: center;
justify-content: center;
}
.box{
    width: 100px;
    height: 100px;
    border:3px solid #3b82f6;
    border-radius: 10px;
}
.third{
    padding-top: 50px;
    padding-bottom: 50px;
}
.third > h2{
    
    text-align: center;
    
    
}
.third-container{
    display: flex;
    justify-content: center;
    gap:50px;
    text-align: center;
}
.box-divider{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    margin:0;
}